/*RESET*/
html,body,div,span,h1,h2,h3,h4,p,img,small,strong,b,i,dl,dt,dd,ul,li,form,article,aside,figure,footer,header,menu,nav,section{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;font-size:0.625em;font-family:Arial,sans-serif;color:#222;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
a img{border:0px;}
a,a:hover{text-decoration:none;}
ul,ol{list-style-type:none;}
input, select{vertical-align:middle;}
input:focus,textarea:focus{background-color:#fffebb;}

/*ELEMENTS*/
html,body{background:rgb(0,0,0);color:rgb(173,255,47);height:100%;}
a,a:hover,a:focus{color:rgb(255,255,255);}
h1{font:24pt SKAcubic0175CERegular,sans-serif;}

/*ELEMENT CLASSES-IDS*/
#main{width:350px;min-height:90%;margin:0 auto -100px;padding-top:100px;}
.pid{border:2px dashed rgb(173,255,47);font:12pt SKAcubic0175CERegular,sans-serif;text-align:center;padding:15px;cursor:pointer;}
.qr{min-height:215px;padding:20px;text-align:center;}
.pid #pidata{display:none;padding:15px;}
.pid:hover #pidata{display:block;}

/*NAVIGATION*/


/*FOOTER*/
footer{height:100px;width:100%;font:14pt SKAcubic0175CERegular,sans-serif;text-align:center;clear:both;}
#copy{border-top:2px dashed rgb(173,255,47);padding-top:20px;}

/*FONTS*/
@font-face{
	font-family: 'SKAcubic0175CERegular';
	src: url('../fnt/skacubic-webfont.eot');
	src: url('../fnt/skacubic-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fnt/skacubic-webfont.woff') format('woff'),
		url('../fnt/skacubic-webfont.ttf') format('truetype'),
		url('../fnt/skacubic-webfont.svg#SKAcubic0175CERegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
