# Modified by Ansible for {{ inventory_hostname }}
ACCEPT_KEYWORDS=~amd64
MAKEOPTS=-j5
DISTDIR=/var/src/distfiles
EMERGE_DEFAULT_OPTS="--quiet-build y"
FEATURES="parallel-fetch userfetch parallel-install"
PYTHON_TARGETS="python2_7 python3_4"
PYTHON_SINGLE_TARGET="python3_4"
RUBY_TARGETS="ruby24"
